.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: -20px; /* Counteract the padding from .container */
  padding: 20px;
  background: linear-gradient(to right, #6a11cb, #2575fc);
  color: #fff;
  text-align: center;
}

.home-container h1 {
  font-size: 3.5em;
  margin-bottom: 20px;
  font-weight: 700;
}

.home-container p {
  font-size: 1.5em;
  margin-bottom: 40px;
  font-weight: 300;
}

.home-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.home-button {
  display: inline-block;
  background-color: #ffffff;
  color: #2575fc;
  padding: 15px 35px;
  text-decoration: none;
  border-radius: 50px;
  margin: 10px;
  transition: all 0.3s ease;
  font-weight: 600;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.home-button:hover {
  background-color: #f0f0f0;
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}
